/* line 4, ../../src/scss/ioki-fatscroll.scss */
[fatscroll] {
  overflow: hidden;
  position: relative;
}
/* line 7, ../../src/scss/ioki-fatscroll.scss */
[fatscroll] scroll-area {
  position: relative;
  display: block;
  overflow: hidden;
  height: inherit;
}
/* line 13, ../../src/scss/ioki-fatscroll.scss */
[fatscroll] thumb {
  display: block;
  width: 7px;
  height: 50px;
  /* default */
  position: absolute;
  top: 0;
  right: 3px;
  background: #000;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}
/* line 24, ../../src/scss/ioki-fatscroll.scss */
[fatscroll] thumb.visible {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0.4;
}
/* line 31, ../../src/scss/ioki-fatscroll.scss */
[fatscroll] scroll-content {
  display: block;
  overflow: hidden;
}

/* line 37, ../../src/scss/ioki-fatscroll.scss */
.no-select {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@-webkit-keyframes alertAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes alertAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes alertAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes alertAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
