body {
    background: url('http://subtlepatterns.com/patterns/dark_geometric.png');
}

.pearson-logo {
    float: left;
    margin-right: 2em;
}

.page-header {
    color: #fff;
}

.page-header h1 {
    color: #e77a2c;
}

[fatscroll] {
    background-color: #fff;
    margin-bottom: 2em;
}

[fatscroll] scroll-area {
    height: 300px;
}

scroll-content {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 1em;
}

.scrollPicker {
    color: #fff;
}

label {
    display: block;
    float: left;
    width: 33.33%;
    text-align: center;
}

button {
    background-color: #e77a2c;
    border: 1px solid #F88E2C;
    padding: 3px 10px;
}

select, input {
    color: #000;
}