@import "compass/css3/user-interface";

[fatscroll] {
    overflow: hidden;
    position: relative;
    scroll-area {
        position: relative;
        display: block;
        overflow: hidden;
        height: inherit;
    }
    thumb {
        display: block;
        width: 7px;
        height: 50px; /* default */
        position: absolute;
        top: 0;
        right: 3px;
        opacity: 0.4;
        background: #000;
    }
    scroll-content {
        display: block;
        overflow:hidden;
    }
}

.no-select {
    @include user-select(none);
}