@import "compass/css3/user-interface";
@import "compass/css3";

[fatscroll] {
    overflow: hidden;
    position: relative;
    scroll-area {
        position: relative;
        display: block;
        overflow: hidden;
        height: inherit;
    }
    thumb {
        display: block;
        width: 7px;
        height: 50px; /* default */
        position: absolute;
        top: 0;
        right: 3px;
        background: #000;
        @include transition-property(opacity);
        @include transition-duration(2s);
        opacity: 0;
        &.visible {
            @include transition-property(opacity);
            @include transition-duration(.3s);
            opacity: 0.4;
        }
    }
    scroll-content {
        display: block;
        overflow:hidden;
    }
}

.no-select {
    @include user-select(none);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
@include keyframes(scrollAppear) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}